<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h5><a href="/">Volver al inicio</a></h5>
    <h1>Formulario de Ingreso</h1>
    <form action="/login" method="POST">
        <label for="nombre">Usuario:</label>
        <input type="text" id="nombre" name="nombre" required>
        <br>
        <label for="contrasena">Contraseña:</label>
        <input type="password" id="contrasena" name="contrasena" required>
        <br>
        <button type="submit">Iniciar sesión</button>
      </form>
    <h5><a href="/register">No tienes cuenta? Registrate</a></h5>      
</body>
</html>